* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

/*#root {*/
/*  height: 100%;*/
/*}*/

body {
  margin: 0;
  padding: 0;
  background: #000003;
}

a {
  text-decoration: none;
}
menu {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: 'GP Bold';
  src: url('../fonts/gothampro_bold.ttf');
}

@font-face {
  font-family: 'GP Middle';
  src: url('../fonts/gothampro_medium.ttf');
}

@font-face {
  font-family: 'GP Meduim';
  src: url('../fonts/gothampro.ttf');
}

#root:has(.isOpened) {
  overflow: hidden;
}

#root:has(.isClosed) {
  overflow: auto;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #86f3ff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow:
    1px 1px 1px #000000,
    0 0 1px #0d0d0d;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  /*background: #ccc;*/
}


